
# List

mix datatypes,
mutable

In [14]:
# Method	Description
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	Removes the element at the specified position
# remove()	Removes the first item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list

In [2]:
l=[]
print(type(l))

<class 'list'>

In [7]:

l.append(10)
l.append('hi')
l.append(20.20)
l.append(True)
print(l)

[10, 'hi', 20.2, True, 10, 'hi', 20.2, True]

In [9]:
sea_creature=['Shark', 'Cluter fish', 'Sea Horse', 'Squid', 'Whale']
print(sea_creature)
print(sea_creature[0])
print(sea_creature[1])
print(sea_creature[2])
print('*'*20)
print(sea_creature[-1])
print(sea_creature[-2])

sea_creature[1]='Octopus'
print(sea_creature)

sea_creature[2][0]='d' #error as the string is immutable only list is mutable
print(sea_creature)

['Shark', 'Cluter fish', 'Sea Horse', 'Squid', 'Whale']
Shark
Cluter fish
Sea Horse
********************
Whale
Squid
['Shark', 'Octopus', 'Sea Horse', 'Squid', 'Whale']

TypeError: 'str' object does not support item assignment

In [13]:
l=[3,6,2,9,1,4,6]
l.sort()
print(l)
sea_creature.sort()
print(sea_creature)

[1, 2, 3, 4, 6, 6, 9]
['Octopus', 'Sea Horse', 'Shark', 'Squid', 'Whale']

In [15]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [3]:
#que take list of students name

a=input()
print(type(a))
print(a)
a.split(',')
type(a)
print(a)

yash, raj kumar, anshu gulzra,ravi
<class 'str'>
yash, raj kumar, anshu gulzra,ravi
yash, raj kumar, anshu gulzra,ravi

In [2]:
#input names and store it in list
a=[]
print(type(a))
a=input().split(',')
print(type(a))
print(a)

<class 'list'>
yash raj, sendrela gulzar, ravi kumar, shalini
<class 'list'>
['yash raj', ' sendrela gulzar', ' ravi kumar', ' shalini']