# Tuple 
immutable, hetrogenous

In [7]:
ll=['c','i','p','h','e','r','s','c','h','o','o','l']
print(ll[-6:-1])
print(ll[-2:-7:-1])

['s', 'c', 'h', 'o', 'o']
['o', 'o', 'h', 'c', 's']

In [15]:
t1=()  #or t=tuple()
type(t1)

tuple

In [14]:
t1=(1,'Python',1.2,'Cipher school')
print(t1)

(1, 'Python', 1.2, 'Cipher school')

In [20]:
#tuple may contain another tuple or list
t2=(1, (1,2,3), [3,4,5])
print(t2)

t2[2][1]='hi'
print(t2)

(1, (1, 2, 3), [3, 4, 5])
(1, (1, 2, 3), [3, 'hi', 5])

In [13]:
t=(1)
type(t)

int

In [16]:
t=('python')
type(t)

str

In [17]:
t=1,2
type(t)

tuple

In [18]:
t=1,'python'
type(t)

tuple

In [30]:
t=(1,2,1,4,2,5,7,1,8,9)
print(t.count(1)) #count occurance of digit 1
print(t.index(7)) #search  for digit 7's index
print(len(t))
print(min(t))
print(max(t))
print(sum(t))

3
6
10
1
9
40

In [32]:
del t
print(t)

NameError: name 't' is not defined